/* Menu Page */
#menu-list li, #favorites-list li {
    background-color: #FFFAF0;
    border-left: 5px solid #FF914D;
    padding: 0.6rem 1rem;
    margin-bottom: 0.5rem;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#favorites-list li {
    border-left-color: #008080;
}

button {
    background-color: #FF914D;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #e67e3f;
}

section h2 {
    margin-bottom: 1rem;
}
.menu-img {
  width: 200px;
  height: auto;
  border: 2px solid red;
}
