* {
    --background-light: #ddd;
    margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {  
    font-family: "Roboto", sans-serif;
    font-weight: 400;
	margin: 1rem;
}

h1 {
	background-color: #bbb;
	padding: 1rem;
	border: 1px solid rgba(0, 0, 0, 0.384);
	font-size: 2rem;
	text-align: center;
	font-weight: 100;
}

nav {
	background-color: #36454f;
	margin: 0 auto;
	max-width: 800px;
}
nav ul {
	list-style-type: none;
}
nav a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 1rem;
	text-decoration: none;
}

nav a:hover {
	text-decoration: overline;
	border: 1px solid #fff
}

.active {
	color: yellow;
}

/* larger/wider views **************************/
@media (min-width: 640px) {
	nav ul {
		display: flex;
		justify-content: space-evenly;
	}

	nav ul li {
		flex: 1 1 100%;
    }
}