@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    margin-top: -1.5rem;
    background-color: #f1ebff;
}

header {
    background-color: #04556d;
    color: #f1ebff;
    display: flex; 
    justify-content: space-between; 
}

header h1 {
    padding: 0.4rem;
}

#button {
    font-size: 1.5rem;
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 0.25rem 0.75rem;
    background-color: #eee;
    color: #000;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

#button::before {
    content: "☰";
}

#button.open::before {
    content: "❎";
}

nav {
    display: flex; 
}

nav a {
    display: block; 
    color: white;
    text-decoration: none;
    padding: 2.5rem;
    font-size: 1.5rem;
}

nav a:link, nav a:visited {
    color: white;

}

nav a:hover {
    color: white;
    background-color: rgb(9, 58, 61);
}

.menu {
    font-family: 'Times New Roman', Times, serif;
    list-style: none;
    display: grid;
    flex-wrap: wrap;
    background-color: #333333;
    align-self: center;
    margin: 0;
    padding-right: 3rem;
}

.menu li {
    flex: 1 1 auto;
}

/* Show menu items by default */
.menu a {
    display: block;
    padding: 0.85rem 4rem;
    text-decoration: none;
    text-align: center;
    font-weight: 900;
    font-size: larger;
    color: #f1ebff;
}

.open a { /* This style is no longer needed */
    /* display: block; */
}

.menu a:hover {
    font-weight: 800;
    font-size: medium;
    background-color: #bfbfd9;
    color: #333333;
}

main {
    display: grid;
    max-width: 600px;
    grid-template-columns: 1fr;
    margin: 1rem;
}

main h2 {
    grid-column: 1/2;
    align-items: center;
    justify-self: center;
}

img {
    width: auto;
    max-width: 325px;
    box-shadow: 0 0 30px #777;
    height: 200px;
    border: 1px solid #333;
}

footer {
    font-family: 'Times New Roman', Times, serif;
    padding: 0rem;
    text-align: center;
    background-color: #04556d;
    color: #f1ebff;
}